:root {
    --text-color: rgb(230, 91, 27);
    --bg-color: rgb(42, 80, 100);
    --accent-color: rgb(0, 0, 0);
    --tittle-font: "fit-armenian-vf", sans-serif;
    --text-font: "avory-i-pe-variable", sans-serif;

}

html {
    font-size: 16px; /100% - 1rem
}

header {
    font-size: 34px;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
    font-family: var(--text-font);
    font-variation-settings: "wght" 500;
    font-size: 1.0rem; //crecio de manera proporcional todo 
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: var(--tittle-font);
    font-variation-settings: "wdth" 900;
    font-weight: 100;
}

h1 {
    font-size: 5em;
    margin-bottom: 0;

}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2.5em;
}
p{
    max-with: 60ch;
}
a{
    text-decoration: underline;
    color: var(--accent-color);
}
a:visited
a:hover

a:hover{
    text-decoration: none;
    color:aquamarine;
}
main{

}
