html{
    font-size: 100;
}

body {
    background: rgb(250, 251, 251);
    color: rgb(80, 125, 217);
    font-family: "Miller", roman ;
}

a {
    color: inherit;
}h1, h2, h3, h4 {
    font-family: "fit-armenian-vf", sans-serif;
    font-variation-settings: "wdth" 900;
}

